.record
{
    
}

.border2
{
    border: 2px double #000;
    margin: 5px 5px;
    padding: 5px 5px;
}


.message-div
{
    display: inline-block;
    background-color: #00FFFF;
    padding: 15px 15px;
    margin: 5px 5px;
    text-align: center;
    color: #66AA00;
}